Node-Red_SubFlows.json
[{"id":"4aa10d7b.9dadb4","type":"subflow","name":"GetFile","info":"","category":"","in":[],"out":[],"env":[],"color":"#D7D7A0"},{"id":"c675a984.7a0828","type":"function","z":"4aa10d7b.9dadb4","name":"Set base path","func":"msg.filename = msg.req.params.dir + \"/out/\" + msg.req.params.name\nmsg.payload = msg.filename\nreturn [msg, null];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":80,"wires":[["97ea3d48.acc41","c7c6cc37.e0873"]]},{"id":"f5bdda3c.58d7c8","type":"http response","z":"4aa10d7b.9dadb4","name":"","statusCode":"","headers":{},"x":870,"y":80,"wires":[]},{"id":"97ea3d48.acc41","type":"file in","z":"4aa10d7b.9dadb4","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":80,"wires":[["f5bdda3c.58d7c8","c8326bbe.e2a528"]]},{"id":"36b012aa.98d98e","type":"catch","z":"4aa10d7b.9dadb4","name":"","scope":null,"uncaught":false,"x":900,"y":200,"wires":[["f538bea8.d04b1","4c4a6120.390f6"]]},{"id":"f538bea8.d04b1","type":"function","z":"4aa10d7b.9dadb4","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":200,"wires":[["f5bdda3c.58d7c8"]]},{"id":"4c4a6120.390f6","type":"debug","z":"4aa10d7b.9dadb4","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":260,"wires":[]},{"id":"347e575.6784ea8","type":"http in","z":"4aa10d7b.9dadb4","name":"","url":"/file/:dir/out/:name","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["c675a984.7a0828"]]},{"id":"1420eeb7.4679c1","type":"fs-ops-delete","z":"4aa10d7b.9dadb4","name":"","path":"","pathType":"str","filename":"filename","filenameType":"msg","x":570,"y":260,"wires":[[]]},{"id":"c8326bbe.e2a528","type":"function","z":"4aa10d7b.9dadb4","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["c7c6cc37.e0873"]]},{"id":"c7c6cc37.e0873","type":"join","z":"4aa10d7b.9dadb4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":200,"wires":[["1420eeb7.4679c1"]]},{"id":"dea725a2.c86498","type":"function","z":"4aa10d7b.9dadb4","name":"Set base path","func":"msg.filename = msg.req.params.dir + \"/\" + msg.req.params.name\nmsg.payload = msg.filename\nreturn [msg, null];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["9c8cff62.1449","eb41aef2.4c66f"]]},{"id":"f2f3a7d7.3191d8","type":"http response","z":"4aa10d7b.9dadb4","name":"","statusCode":"","headers":{},"x":870,"y":360,"wires":[]},{"id":"9c8cff62.1449","type":"file in","z":"4aa10d7b.9dadb4","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":360,"wires":[["f2f3a7d7.3191d8","accde1f6.55f0e"]]},{"id":"6ca9f206.40915c","type":"catch","z":"4aa10d7b.9dadb4","name":"","scope":null,"uncaught":false,"x":900,"y":480,"wires":[["83a9e6e7.957d28","7d224124.c7228"]]},{"id":"83a9e6e7.957d28","type":"function","z":"4aa10d7b.9dadb4","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":480,"wires":[["f2f3a7d7.3191d8"]]},{"id":"7d224124.c7228","type":"debug","z":"4aa10d7b.9dadb4","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":540,"wires":[]},{"id":"695b4730.37e418","type":"http in","z":"4aa10d7b.9dadb4","name":"","url":"/file/:dir/:name","method":"get","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["dea725a2.c86498"]]},{"id":"3e97d256.9f251e","type":"fs-ops-delete","z":"4aa10d7b.9dadb4","name":"","path":"","pathType":"str","filename":"filename","filenameType":"msg","x":570,"y":540,"wires":[[]]},{"id":"accde1f6.55f0e","type":"function","z":"4aa10d7b.9dadb4","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":420,"wires":[["eb41aef2.4c66f"]]},{"id":"eb41aef2.4c66f","type":"join","z":"4aa10d7b.9dadb4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":480,"wires":[["3e97d256.9f251e"]]},{"id":"3c00f8d7.e43bf8","type":"subflow","name":"Login","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"53309ee0.c30dc","type":"ui_form","z":"3c00f8d7.e43bf8","name":"Dashboard Sign-In","label":"","group":"9a05f5d3.9d47a8","order":0,"width":"6","height":"8","options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":140,"wires":[["e5a551ff.b2553","a612efd4.1457d","4bb601b6.3c43b"]]},{"id":"b0040d33.2a8e8","type":"debug","z":"3c00f8d7.e43bf8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":738.0000915527344,"y":101.00000762939453,"wires":[]},{"id":"aa6aac93.12333","type":"comment","z":"3c00f8d7.e43bf8","name":"Sign-In Section","info":"","x":170.00000762939453,"y":82.99999618530273,"wires":[]},{"id":"e5a551ff.b2553","type":"function","z":"3c00f8d7.e43bf8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":369.00000762939453,"y":109.99999618530273,"wires":[["b0040d33.2a8e8"]]},{"id":"a612efd4.1457d","type":"function","z":"3c00f8d7.e43bf8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\n/*if ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}*/\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":382.0000457763672,"y":155.0000057220459,"wires":[["8c73fd9f.fc508"]]},{"id":"8c73fd9f.fc508","type":"switch","z":"3c00f8d7.e43bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":551.0000419616699,"y":185.9999885559082,"wires":[["390d3827.9f71b8"],["24fee723.dbf168"],["9da93701.1824a8"]]},{"id":"390d3827.9f71b8","type":"function","z":"3c00f8d7.e43bf8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"IncrementFasta_IncrementFasta\",\"IncrementFasta_AuthMessage\", \"ExtractFromCUFF_ExtractFromCUFF\",\"ExtractFromTopat_ExtractFromTopat\", \"ExtractFromCUFF_AuthMessage\",\"ExtractFromTopat_AuthMessage\", \"Dashboard_Signout\"],\n    hide : [\"Dashboard_Signin\", \"IncrementFasta_AuthMessage\", \"ExtractFromCUFF_AuthMessage\",\"ExtractFromTopat_AuthMessage\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720.999885559082,"y":141.99999809265137,"wires":[["1287df58.8e2011"]]},{"id":"24fee723.dbf168","type":"function","z":"3c00f8d7.e43bf8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":741.9998931884766,"y":179,"wires":[["82cb101c.48b4a"]]},{"id":"9da93701.1824a8","type":"function","z":"3c00f8d7.e43bf8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":742.9999618530273,"y":216.0000123977661,"wires":[["82cb101c.48b4a"]]},{"id":"1287df58.8e2011","type":"ui_ui_control","z":"3c00f8d7.e43bf8","name":"Go to App Groups","events":"all","x":978.0000686645508,"y":141.9999942779541,"wires":[[]]},{"id":"82cb101c.48b4a","type":"ui_toast","z":"3c00f8d7.e43bf8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1007.9999732971191,"y":199,"wires":[[]]},{"id":"74229bc9.681664","type":"ui_ui_control","z":"3c00f8d7.e43bf8","name":"Go to Signin Group","x":530,"y":360,"wires":[[]]},{"id":"e5572e27.9866","type":"function","z":"3c00f8d7.e43bf8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_Signin\", \"IncrementFasta_AuthMessage\", \"ExtractFromCUFF_AuthMessage\",\"ExtractFromTopat_AuthMessage\"],\n    hide : [\"IncrementFasta_IncrementFasta\", \"ExtractFromCUFF_ExtractFromCUFF\",\"ExtractFromTopat_ExtractFromTopat\",\"Dashboard_Signout\"]\n}\n};\nflow.set(\"sessionTimer\", 0);\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["74229bc9.681664"]]},{"id":"4bb601b6.3c43b","type":"debug","z":"3c00f8d7.e43bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":351.5000419616699,"y":220.5347557067871,"wires":[]},{"id":"fa90e6a8.e8abc8","type":"ui_button","z":"3c00f8d7.e43bf8","name":"Signout","group":"49d30552.ded39c","order":2,"width":0,"height":0,"passthru":false,"label":"Log Out","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":360,"wires":[["e5572e27.9866"]]},{"id":"50e16dc4.3ec374","type":"comment","z":"3c00f8d7.e43bf8","name":"Session Management - 1 h","info":"","x":170,"y":440,"wires":[]},{"id":"b744ee3a.b31c","type":"inject","z":"3c00f8d7.e43bf8","name":"Session Timeout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":540,"wires":[["d99a0e7c.a662e","c2cbbdaa.2955e"]]},{"id":"d99a0e7c.a662e","type":"function","z":"3c00f8d7.e43bf8","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 3600000; //1h\n\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":326.50003814697266,"y":495,"wires":[["e6361f11.eb59f"]]},{"id":"e6361f11.eb59f","type":"switch","z":"3c00f8d7.e43bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":496.50007247924805,"y":493,"wires":[["f10b1b9d.5d1f18"],[],["1616b32e.00ba9d"]]},{"id":"f10b1b9d.5d1f18","type":"function","z":"3c00f8d7.e43bf8","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":652.4999847412109,"y":466.00000381469727,"wires":[["7a483adb.7023a4","546b8024.79df3"]]},{"id":"7a483adb.7023a4","type":"ui_toast","z":"3c00f8d7.e43bf8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":840.000114440918,"y":432.00000381469727,"wires":[[]]},{"id":"3fc4bd69.cfee62","type":"ui_ui_control","z":"3c00f8d7.e43bf8","name":"Go to Signin Group","events":"all","x":1047.0000324249268,"y":467.9999885559082,"wires":[[]]},{"id":"546b8024.79df3","type":"function","z":"3c00f8d7.e43bf8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_Signin\",\"IncrementFasta_AuthMessage\", \"ExtractFromCUFF_AuthMessage\",\"ExtractFromTopat_AuthMessage\"],\n    hide : [\"IncrementFasta_IncrementFasta\", \"ExtractFromCUFF_ExtractFromCUFF\",\"ExtractFromTopat_ExtractFromTopat\", \"Dashboard_Signout\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850.5000228881836,"y":469,"wires":[["3fc4bd69.cfee62"]]},{"id":"42562654.b00788","type":"ui_toast","z":"3c00f8d7.e43bf8","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":670,"y":640,"wires":[]},{"id":"c2cbbdaa.2955e","type":"function","z":"3c00f8d7.e43bf8","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((3600000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":376.5000305175781,"y":583.0000123977661,"wires":[["42562654.b00788"]]},{"id":"1616b32e.00ba9d","type":"function","z":"3c00f8d7.e43bf8","name":"Signin Goup","func":"msg = {};\nmsg.payload = { group: {\n    show : [\"Dashboard_Signin\",\"IncrementFasta_AuthMessage\", \"ExtractFromCUFF_AuthMessage\",\"ExtractFromTopat_AuthMessage\"],\n    hide : [\"IncrementFasta_IncrementFasta\", \"ExtractFromCUFF_ExtractFromCUFF\",\"ExtractFromTopat_ExtractFromTopat\", \"Dashboard_Signout\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":665.0000915527344,"y":548.0000343322754,"wires":[["572db108.8a7e2"]]},{"id":"572db108.8a7e2","type":"ui_ui_control","z":"3c00f8d7.e43bf8","name":"Go to Signin Group","events":"all","x":970,"y":560,"wires":[[]]},{"id":"f506c168.86c0d","type":"ui_text","z":"3c00f8d7.e43bf8","group":"49d30552.ded39c","order":1,"width":0,"height":0,"name":"SignoutText","label":"YOU ARE CORRECTLY LOGGED IN","format":"Click here to log out.","layout":"col-center","x":150,"y":300,"wires":[]},{"id":"9a05f5d3.9d47a8","type":"ui_group","z":"","name":"Signin","tab":"c47db8da.3fc968","order":1,"disp":true,"width":"6","collapse":false},{"id":"49d30552.ded39c","type":"ui_group","z":"","name":"Signout","tab":"c47db8da.3fc968","order":2,"disp":false,"width":"6","collapse":false},{"id":"c47db8da.3fc968","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":5},{"id":"eb85e8cf.0c4ee8","type":"subflow","name":"IncrementFasta","info":"","category":"","in":[],"out":[],"env":[],"color":"#87A980"},{"id":"8be34cbd.5ed2d","type":"http in","z":"eb85e8cf.0c4ee8","name":"","url":"/incrementfasta","method":"post","upload":true,"swaggerDoc":"","x":120,"y":340,"wires":[["74dba982.e178d8","bcaa652f.7bc1b8","f5921316.2e1c9"]]},{"id":"74dba982.e178d8","type":"function","z":"eb85e8cf.0c4ee8","name":"","func":"//msg.name = msg.req.files[0].originalname;\n//global.set(\"name\",msg.req.files[0].originalname);\nmsg.payload = msg.req.files[0].buffer\nmsg.filename = \"incrementFasta/out/\" + msg.req.files[0].originalname\n\nreturn [msg,null];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["b86242c.fa5e8c"]]},{"id":"695f712d.6677b","type":"http response","z":"eb85e8cf.0c4ee8","name":"","statusCode":"","headers":{},"x":1830,"y":320,"wires":[]},{"id":"b86242c.fa5e8c","type":"file","z":"eb85e8cf.0c4ee8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":430,"y":380,"wires":[["156108de.45d117"]]},{"id":"20b06285.b15d6e","type":"increment_fasta_contig","z":"eb85e8cf.0c4ee8","name":"","fasta":"","pathfolder":"","outputname":"","x":910,"y":340,"wires":[["49cc97ac.63efa8","1cc9d9be.f79976","4ca9d9.f4361628"]]},{"id":"bcaa652f.7bc1b8","type":"function","z":"eb85e8cf.0c4ee8","name":"","func":"//global.set(\"name\",msg.payload.outputname);\n\nmsg.payload.fasta = \"incrementFasta/out/\" + msg.req.files[0].originalname\nmsg.payload.pathfolder = \"incrementFasta/out\"\nmsg.payload.outputname = msg.payload.outputname\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":260,"wires":[["4e9952d4.a24b0c"]]},{"id":"49cc97ac.63efa8","type":"function","z":"eb85e8cf.0c4ee8","name":"","func":"//var name = global.get(\"name\");\nif(msg.payload.zip===\"no\") {\n    msg.payload = msg.payload.outputname\n    return[msg,null]\n}\nelse if(msg.payload.zip===\"yes\") {\n    msg.payload.outputname = msg.payload.outputname.slice(0,-6) + \".zip\";\n    msg.payload.pathIn = \"incrementFasta/out\"\n    msg.payload.pathOut = \"incrementFasta/\"+msg.payload.outputname\n    return [null,msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1140,"y":340,"wires":[["333cced2.563592"],["6ad8edc3.a0fa14"]]},{"id":"32003b8f.9b6714","type":"template","z":"eb85e8cf.0c4ee8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <script> \n   function clickAndDisable(link) {\n     // disable subsequent clicks\n     link.onclick = function(event) {\n        event.preventDefault();\n     }\n   }   \n</script>  \n  <head>\n      </head>\n  <body>\n      <center>\n<h1>Files Uploaded !</h1>\n<h3>Click the name for download it</h3>\n<div>\n    <a href=\"/file/incrementFasta/out/{{payload}}\" onclick=\"clickAndDisable(this);\">{{payload}}</a>\n</div>\n</center>\n</body>\n</html>","output":"str","x":1510,"y":320,"wires":[["695f712d.6677b"]]},{"id":"156108de.45d117","type":"function","z":"eb85e8cf.0c4ee8","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["4e9952d4.a24b0c"]]},{"id":"4e9952d4.a24b0c","type":"join","z":"eb85e8cf.0c4ee8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":340,"wires":[["20b06285.b15d6e"]]},{"id":"333cced2.563592","type":"delay","z":"eb85e8cf.0c4ee8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":320,"wires":[["32003b8f.9b6714"]]},{"id":"f0ff471a.c4cc38","type":"ui_template","z":"eb85e8cf.0c4ee8","group":"4808d99f.8982c8","name":"Data-table","order":3,"width":"24","height":"14","format":"<html>  \n  <head>\n      <style>\n.center {\n  position: absolute;\n  top: 8%;\n  left: 50%;\n  margin: -25px 0 0 -25px;\n}\n .auto-style1 {\n margin-left: 0px;\n }\n </style>\n  </head>\n  <body>\n  <center>\n \n      <br><br><br><br>\n    <form action=\"/incrementfasta\" method=\"post\" enctype=\"multipart/form-data\">\n    <div style=\"width:700px; height:45px; border:5px outset navy;\"> <font face=\"Verdana\" size=\"6\">INCREMENT FASTA FILE</font><br /></div>\n    <p>_________________________________________________________________________________________________________________</p> <br>\n      <br>\n      <label style=\"font-size:20px\"  for=\"fasta\">Fasta File:&emsp;</label>\n      <input id=\"file-input-fasta\" type=\"file\" name=\"file\" class=\"auto-style1\" style=\"width: 273px; height: 34px\" accept=\".fasta\" required/>\n      <br><br><br>\n      <label style=\"font-size:20px\" for=\"outputname\">Output name:&emsp;</label>\n      <input type=\"text\" name=\"outputname\" style=\"width: 200px; height: 20px\" required/>\n      <br><br>\n      <label for=\"zip\">Want zip the output(if chose \"NO\" you can download the files individually):</label>\n      <select id=\"zip\" name=\"zip\">\n          <option value=\"yes\">YES</option>\n          <option value=\"no\">NO</option>\n          </select>\n    <p>_________________________________________________________________________________________________________________</p>\n      <br>\n      <input type=\"submit\" style=\"width: 250px; height: 43px\" />\n     \n    </form>\n    </center>\n      </body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":280,"wires":[[]]},{"id":"1cc9d9be.f79976","type":"fs-ops-delete","z":"eb85e8cf.0c4ee8","name":"Delete Fasta","path":"","pathType":"str","filename":"payload.fasta","filenameType":"msg","x":1050,"y":440,"wires":[[]]},{"id":"4ca9d9.f4361628","type":"change","z":"eb85e8cf.0c4ee8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stdout","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":260,"wires":[["7ecf52c5.158a6c"]]},{"id":"7ecf52c5.158a6c","type":"ui_toast","z":"eb85e8cf.0c4ee8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1350,"y":260,"wires":[[]]},{"id":"f5921316.2e1c9","type":"debug","z":"eb85e8cf.0c4ee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":100,"wires":[]},{"id":"6ad8edc3.a0fa14","type":"zip_folder","z":"eb85e8cf.0c4ee8","name":"","pathIn":"","pathOut":"","x":1340,"y":380,"wires":[["38d47530.a6bb6a"]]},{"id":"c5e308b5.8d90a8","type":"template","z":"eb85e8cf.0c4ee8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <script> \n   function clickAndDisable(link) {\n     // disable subsequent clicks\n     link.onclick = function(event) {\n        event.preventDefault();\n     }\n   }   \n</script>  \n  <head>\n      </head>\n  <body>\n      <center>\n<h1>Files Uploaded !</h1>\n<h3>Click the name for download it</h3>\n<div>\n    <a href=\"/file/{{payload.pathOut}}\" onclick=\"clickAndDisable(this);\">{{payload.outputname}}</a>\n</div>\n</center>\n</body>\n</html>","output":"str","x":1650,"y":380,"wires":[["695f712d.6677b"]]},{"id":"38d47530.a6bb6a","type":"delay","z":"eb85e8cf.0c4ee8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":380,"wires":[["c5e308b5.8d90a8"]]},{"id":"da03b04e.8f62d","type":"ui_text","z":"eb85e8cf.0c4ee8","group":"979b5f31.ef2a","order":1,"width":"26","height":"9","name":"noauthFasta","label":"YOU AREN'T AUTHENTICATED","format":"Please sign in in Dashboard.","layout":"col-center","x":110,"y":400,"wires":[]},{"id":"4808d99f.8982c8","type":"ui_group","z":"","name":"IncrementFasta","tab":"ed3d38de.22ee28","order":1,"disp":false,"width":"32","collapse":false},{"id":"979b5f31.ef2a","type":"ui_group","z":"","name":"AuthMessage","tab":"ed3d38de.22ee28","order":2,"disp":false,"width":"27","collapse":false},{"id":"ed3d38de.22ee28","type":"ui_tab","z":"","name":"IncrementFasta","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"208f623e.f4508e","type":"subflow","name":"ExtractFromTopat","info":"","category":"","in":[],"out":[],"env":[],"color":"#A6BBCF"},{"id":"5a35c8f.2376438","type":"http in","z":"208f623e.f4508e","name":"","url":"/extractintronfromtopat","method":"post","upload":true,"swaggerDoc":"","x":180,"y":360,"wires":[["a8a4a59e.d60f48","bfb5a4e3.1dc088"]]},{"id":"a8a4a59e.d60f48","type":"function","z":"208f623e.f4508e","name":"","func":"//msg.name = msg.req.files[0].originalname;\n//global.set(\"name\",msg.payload.outputname);\n//global.set(\"flanking\",msg.payload.flanking);\n\nvar msg1 = { payload: msg.req.files[1].buffer, filename: \"extractFromTopat/out/\" + msg.req.files[1].originalname};\nmsg.payload = msg.req.files[0].buffer\nmsg.filename = \"extractFromTopat/out/\" + msg.req.files[0].originalname\n\nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["440938cd.bb8ec8"],["622bb745.335848"]]},{"id":"8ad24050.210da","type":"http response","z":"208f623e.f4508e","name":"","statusCode":"","headers":{},"x":1990,"y":240,"wires":[]},{"id":"440938cd.bb8ec8","type":"file","z":"208f623e.f4508e","name":"fasta","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":490,"y":360,"wires":[["f675efa7.b7e9c"]]},{"id":"bfb5a4e3.1dc088","type":"function","z":"208f623e.f4508e","name":"","func":"msg.payload.fasta = \"extractFromTopat/out/\" + msg.req.files[0].originalname\nmsg.payload.tp = \"extractFromTopat/out/\" + msg.req.files[1].originalname\nmsg.payload.pathfolder = \"extractFromTopat/out\"\nmsg.payload.flanking = msg.payload.flanking\nmsg.payload.outputname = msg.payload.outputname\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":300,"wires":[["30a78c95.2c88e4"]]},{"id":"2153d5b6.bd14fa","type":"template","z":"208f623e.f4508e","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <script> \n   function clickAndDisable(link) {\n     // disable subsequent clicks\n     link.onclick = function(event) {\n        event.preventDefault();\n     }\n   }   \n</script>   \n  <head>\n      </head>\n  <body>\n      <center>\n<h1>Files Uploaded !</h1>\n<h3>Click the name for download it</h3>\n<div>\n    <a href=\"/file/extractFromTopat/{{payload.fasta}}\" onclick=\"clickAndDisable(this);\">{{payload.fasta}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.fastaPlus}}\" onclick=\"clickAndDisable(this);\">{{payload.fastaPlus}}</a>\n</div>\n</center>\n</body>\n</html>","output":"str","x":1690,"y":200,"wires":[["8ad24050.210da"]]},{"id":"e132c0ff.c8cae","type":"ui_template","z":"208f623e.f4508e","group":"eebecb08.3f4318","name":"Data-table","order":1,"width":24,"height":14,"format":"<html>  \n  <head>\n      <style>\n.center {\n  position: absolute;\n  top: 8%;\n  left: 50%;\n  margin: -25px 0 0 -25px;\n}\n .auto-style1 {\n margin-left: 0px;\n }\n </style>\n  </head>\n  <body>\n  <center>\n \n      <br><br><br><br>\n    <form action=\"/extractintronfromtopat\" method=\"post\" enctype=\"multipart/form-data\">\n    <div style=\"width:700px; height:45px; border:5px outset navy;\"> <font face=\"Verdana\" size=\"6\">EXTRACT INTRON FROM TOPAT</font><br /></div>\n    <br><p>_________________________________________________________________________________________________________________</p> <br>\n      <br>\n      <label style=\"font-size:20px\"  for=\"fasta\">Fasta File:&emsp;</label>\n      <input id=\"file-input-fasta2\" type=\"file\" name=\"filefasta\" class=\"auto-style1\" style=\"width: 273px; height: 34px\" accept=\".fasta\" required/>\n      <br><br><br>\n      <label style=\"font-size:20px\"  for=\"fasta\">Topat File:&emsp;</label>\n      <input id=\"file-input-topat\" type=\"file\" name=\"filetopat\" class=\"auto-style1\" style=\"width: 273px; height: 34px\" accept=\".gtf\" required/>\n      <br><br><br>\n      <label style=\"font-size:20px\" for=\"outputname\">Output name:&emsp;</label>\n      <input type=\"text\" name=\"outputname\" style=\"width: 200px; height: 20px\" required/>\n      <br><br><br>\n      <label style=\"font-size:20px\" for=\"flanking\">Flanking:&emsp;</label>\n      <input type=\"text\" name=\"flanking\" style=\"width: 200px; height: 20px\"/>\n      <br><br>\n      <label for=\"zip\">Want zip the output(if chose \"NO\" you can download the files individually):</label>\n      <select id=\"zip\" name=\"zip\">\n          <option value=\"yes\">YES</option>\n          <option value=\"no\">NO</option>\n          </select>\n    <p>_________________________________________________________________________________________________________________</p>\n      <br>\n      <input type=\"submit\" style=\"width: 250px; height: 43px\" />\n     \n    </form>\n    </center>\n      </body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":170,"y":300,"wires":[[]]},{"id":"622bb745.335848","type":"file","z":"208f623e.f4508e","name":"topat","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":490,"y":480,"wires":[["13d813ab.004f7c"]]},{"id":"6f8c77d9.baf768","type":"function","z":"208f623e.f4508e","name":"","func":"var name = msg.payload.outputname;\n\nif(msg.payload.zip===\"no\") {\n    if(msg.payload.stdout!==\"Error\" && msg.payload.flanking===\"\") {\n        msg.payload = {\n            fasta : name,\n            fastaPlus : name + \"Plus\"\n        }\n        return [msg,null,null];\n    }\n    else if(msg.payload.stdout!==\"Error\" && msg.payload.flanking!==\"\"){\n        msg.filename = name+\"Plus\"\n        msg.payload = {\n            fasta : name,\n            fastaPlus : name+\"Plus\",\n            flDx : \"flanking_Dx_IR_\" + name,\n            flDxPlus : \"flanking_Dx_IR_\" + name + \"Plus\",\n            flSx : \"flanking_Sx_IR_\" + name,\n            flSxPlus : \"flanking_Sx_IR_\" + name + \"Plus\",\n            flIr: \"flanking_IR_\" + name,\n            flIrPlus : \"flanking_IR_\" + name + \"Plus\"\n        }\n        return [null,msg,null];\n    }\n}\nelse if(msg.payload.zip===\"yes\") {\n    msg.payload.outputname = msg.payload.outputname.slice(0,-6) + \".zip\";\n    msg.payload.pathIn = \"extractFromTopat/out\"\n    msg.payload.pathOut = \"extractFromTopat/\"+msg.payload.outputname\n    return [null,null,msg]\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1340,"y":220,"wires":[["15055e32.302b62"],["48e9c75b.3fa938"],["c5ef9f40.377f4"]]},{"id":"15055e32.302b62","type":"delay","z":"208f623e.f4508e","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":200,"wires":[["2153d5b6.bd14fa"]]},{"id":"30a78c95.2c88e4","type":"join","z":"208f623e.f4508e","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":340,"wires":[["c9750d62.8e077"]]},{"id":"f675efa7.b7e9c","type":"function","z":"208f623e.f4508e","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":360,"wires":[["30a78c95.2c88e4"]]},{"id":"13d813ab.004f7c","type":"function","z":"208f623e.f4508e","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["30a78c95.2c88e4"]]},{"id":"48e9c75b.3fa938","type":"delay","z":"208f623e.f4508e","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":240,"wires":[["fcc7854f.f030d8"]]},{"id":"fcc7854f.f030d8","type":"template","z":"208f623e.f4508e","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <script> \n   function clickAndDisable(link) {\n     // disable subsequent clicks\n     link.onclick = function(event) {\n        event.preventDefault();\n     }\n   }   \n</script>   \n  <head>\n      </head>\n  <body>\n      <center>\n<h1>Files Uploaded !</h1>\n<h3>Click the name for download it</h3>\n<div>\n    <a href=\"/file/extractFromTopat/{{payload.fasta}}\" onclick=\"clickAndDisable(this);\">{{payload.fasta}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.fastaPlus}}\" onclick=\"clickAndDisable(this);\">{{payload.fastaPlus}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.flDx}}\" onclick=\"clickAndDisable(this);\">{{payload.flDx}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.flDxPlus}}\" onclick=\"clickAndDisable(this);\">{{payload.flDxPlus}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.flSx}}\" onclick=\"clickAndDisable(this);\">{{payload.flSx}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.flSxPlus}}\" onclick=\"clickAndDisable(this);\">{{payload.flSxPlus}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.flIr}}\" onclick=\"clickAndDisable(this);\">{{payload.flIr}}</a> <br><br>\n    <a href=\"/file/extractFromTopat/{{payload.flIrPlus}}\" onclick=\"clickAndDisable(this);\">{{payload.flIrPlus}}</a> <br><br>\n</div>\n</center>\n</body>\n</html>","output":"str","x":1670,"y":240,"wires":[["8ad24050.210da"]]},{"id":"8d141272.e7008","type":"ui_text","z":"208f623e.f4508e","group":"da1179ed.deb7a8","order":1,"width":"26","height":"9","name":"noauthFasta","label":"YOU AREN'T AUTHENTICATED","format":"Please sign in in Dashboard.","layout":"col-center","x":170,"y":420,"wires":[]},{"id":"717e2601.e995b8","type":"fs-ops-delete","z":"208f623e.f4508e","name":"Delete Topat","path":"","pathType":"str","filename":"payload.tp","filenameType":"msg","x":1110,"y":360,"wires":[[]]},{"id":"96b8c7c8.9385d8","type":"fs-ops-delete","z":"208f623e.f4508e","name":"Delete Fasta","path":"","pathType":"str","filename":"payload.fasta","filenameType":"msg","x":1130,"y":300,"wires":[[]]},{"id":"42622cdc.ef6e64","type":"change","z":"208f623e.f4508e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stdout","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":100,"wires":[["1873299a.3adeb6"]]},{"id":"1873299a.3adeb6","type":"ui_toast","z":"208f623e.f4508e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1490,"y":100,"wires":[[]]},{"id":"c5ef9f40.377f4","type":"zip_folder","z":"208f623e.f4508e","name":"","pathIn":"","pathOut":"","x":1520,"y":280,"wires":[["f7c2a254.c5317"]]},{"id":"f7c2a254.c5317","type":"delay","z":"208f623e.f4508e","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":280,"wires":[["8f9c2d7b.d2764"]]},{"id":"8f9c2d7b.d2764","type":"template","z":"208f623e.f4508e","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <script> \n   function clickAndDisable(link) {\n     // disable subsequent clicks\n     link.onclick = function(event) {\n        event.preventDefault();\n     }\n   }   \n</script>  \n  <head>\n      </head>\n  <body>\n      <center>\n<h1>Files Uploaded !</h1>\n<h3>Click the name for download it</h3>\n<div>\n    <a href=\"/file/{{payload.pathOut}}\" onclick=\"clickAndDisable(this);\">{{payload.outputname}}</a>\n</div>\n</center>\n</body>\n</html>","output":"str","x":1830,"y":280,"wires":[["8ad24050.210da"]]},{"id":"c9750d62.8e077","type":"extract_intron_using_bed_file_from_topat","z":"208f623e.f4508e","name":"","fasta":"","tp":"","pathfolder":"","outputname":"","flanking":"","x":940,"y":180,"wires":[["42622cdc.ef6e64","6f8c77d9.baf768","96b8c7c8.9385d8","717e2601.e995b8"]]},{"id":"eebecb08.3f4318","type":"ui_group","z":"","name":"ExtractFromTopat","tab":"230231d6.efa81e","order":1,"disp":false,"width":"27","collapse":false},{"id":"da1179ed.deb7a8","type":"ui_group","z":"","name":"AuthMessage","tab":"230231d6.efa81e","order":2,"disp":false,"width":"27","collapse":false},{"id":"230231d6.efa81e","type":"ui_tab","z":"","name":"ExtractFromTopat","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"3837fb9d.d54804","type":"subflow:208f623e.f4508e","z":"f9215297.aa41","name":"","x":550,"y":340,"wires":[]},{"id":"4fd92e8c.c17fe","type":"subflow:eb85e8cf.0c4ee8","z":"f9215297.aa41","name":"","x":550,"y":440,"wires":[]},{"id":"127e9acc.0e69d5","type":"subflow:3c00f8d7.e43bf8","z":"f9215297.aa41","name":"","x":540,"y":520,"wires":[]},{"id":"9de29cc5.7b372","type":"subflow:4aa10d7b.9dadb4","z":"f9215297.aa41","name":"","x":600,"y":640,"wires":[]}]